body{
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}


/* Estilos para a página inicial */
h1{
  text-align: center;
  justify-content: center;
  padding: 20px 20px 20;
  font-size: 70px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: 1px 1px 1px white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

}
nav {
    background-color: white;
    color: black;
    padding: 10px 0;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  li {
    margin: 0 15px;
  }
  
  /* Estilos para os links */
  a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    color: black;
  }
  
  a:hover {
    color: black;
  }

  footer {
    font-size: 20px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
  .links{
    font-size: 35px;
  }

